* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Nunito", sans-serif;
    background-color: rgb(243, 243, 243);
  }
  
  h1 {
    margin: 20px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 2px 15px 5px rgba(196, 196, 196, 0.94);
    width: 20%;
    margin: 20px;
    background-color: white;
  }
  
  .title {
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
  }
  
.container-photo {
    text-align: center;
}

  img {
    padding: 10px;
    height: 200px;
    width: 200px;
    object-fit: contain;
  }
  
  .container-price {
    display: flex;
    justify-content: space-around;
  }
  
  .price {
    text-decoration: line-through;
    color: gray;
    font-size: 0.8em;
  }
  
  .sale-price {
    color: rgb(239, 64, 16);
    font-size: 1.1em;
  }
  
  .btn-buy {
    border: none;
    background-color: rgb(84, 124, 35);
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 95%;
    margin-top: 20px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
  }

  .btn-buy:hover {
    background-color: rgb(102, 155, 38);
  }

  .section {
    text-align: center;
  }
  
  #input-search {
    padding: 8px;
    width: 300px;
  }
  
  #btn-search {
    border: solid rgb(12, 145, 101);
    padding: 8px;
    background-color: rgb(12, 145, 101);
    width: 120px;
    border-radius: 4px;
    color: #fff;
  }

  @media only screen and (max-width: 600px) {
    .card {
      width: 100%;
    }
  }