body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    color: #374151;
    margin-bottom: 5px;
}

hr {
    width: 88px;
    height: 4px;
    background-color: #374151;
    border-radius: 4px;
    border: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container div {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 20px;
    height: 506px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

.container h2 {
    color: white;
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.329);
    font-size: 56px;
    text-align: center;
}

section {
    background-color: rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(249, 250, 251, 0.5);
    color: #fff;
    max-width: 291px;
    text-align: left;
}

section * {
    margin-left: 10px;
}

section h5:first-child {
    font-size: 18px;
    margin-bottom: 0;
}

section h5:last-child {
    font-size: 14px;
}

section p {
    font-size: 12px;
    font-weight: 100;
}

.small-child {
    width: 30%;
}

.big-child {
    width: 50%;
}

.big-child h2 {
    width: 60%;
    margin: auto;
}

.child-one {
    background: url(./images/shoes.svg);
}
.child-two {
    background: url(./images/watch.svg);
}
.child-three {
    background: url(./images/clothes.svg);
}
.child-four {
    background: url(./images/bag.svg);
}

/* Responsive */

@media only screen and (max-width: 600px) {

    .small-child {
        width: 35%;
    }

    .big-child {
        width: 35%;
    }

    .container2 {
        flex-direction: column;
        align-items: center;
    }
}

/* Tags */

.container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imgtag {
    margin: 10px;
}

.imgtag div {
    width: 297px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.imgtag img {
    width: 297px;
}

.imgtag p {
    width: 297px;
    font-size: 12px;
    font-weight: 100;
}

.price {
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.price span {
    color: #374151;
    text-decoration: line-through;
    margin-left: 10px;
}

.add {
    color: #374151;
}